In [1]:
#import libraries and files
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
from sklearn import preprocessing

In [3]:
# load tic-tac-toe data
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data", sep=",")
data.rename(columns={'x': 'top left', 'x.1': 'top middle', 'x.2': 'top right','x.3': 'middle left', 'o': 'middle middle', 'o.1' : 'middle right', 'x.4' : 'bottom left', 'o.2' : 'bottom middle', 'o.3':'bottom right','positive' : 'outcome'},inplace=True)

In [4]:
data.head(3)

,top left,top middle,top right,middle left,middle middle,middle right,bottom left,bottom middle,bottom right,outcome
0,x,x,x,x,o,o,o,x,o,positive
1,x,x,x,x,o,o,o,o,x,positive
2,x,x,x,x,o,o,o,b,b,positive

In [6]:
#data preprocessing
data_new = pd.get_dummies(data.iloc[:,0:9])

In [7]:
data_new.head(3)

,top left_b,top left_o,top left_x,top middle_b,top middle_o,top middle_x,top right_b,top right_o,top right_x,middle left_b,...,middle right_x,bottom left_b,bottom left_o,bottom left_x,bottom middle_b,bottom middle_o,bottom middle_x,bottom right_b,bottom right_o,bottom right_x
0,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
1,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
2,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,1,0,0,1,0,0

In [9]:
data_final = pd.concat([data_new, data.iloc[:,9]],axis=1)

In [10]:
# Split data into training and test sets
train, test = train_test_split(data_final, test_size=0.3)

In [11]:
train.head()

,top left_b,top left_o,top left_x,top middle_b,top middle_o,top middle_x,top right_b,top right_o,top right_x,middle left_b,...,bottom left_b,bottom left_o,bottom left_x,bottom middle_b,bottom middle_o,bottom middle_x,bottom right_b,bottom right_o,bottom right_x,outcome
641,0,0,1,0,0,1,0,1,0,0,...,0,1,0,1,0,0,0,0,1,negative
169,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,positive
851,0,1,0,1,0,0,0,0,1,0,...,1,0,0,1,0,0,0,1,0,negative
199,0,0,1,0,1,0,1,0,0,0,...,0,0,1,1,0,0,1,0,0,positive
743,0,1,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,1,0,negative

In [12]:
#Applying logistic Regression model
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()

In [13]:
x_train = train.iloc[:, :-1]
y_train= train.iloc[:, -1]
x_test = test.iloc[:, :-1]
y_test= test.iloc[:, -1]
LR = LR.fit(x_train, y_train)

In [14]:
LR.score(x_train, y_train)

0.9820627802690582

In [15]:
#Evaluate model on test data
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
prob = LR.predict_proba(x_test)
predicted= LR.predict(x_test)

C:\Users\my\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [16]:
#Findind the accuracy using confusion matrix
print(metrics.accuracy_score(y_test, predicted))
print(metrics.confusion_matrix(y_test, predicted))
print(metrics.classification_report(y_test, predicted))

0.9652777777777778
[[ 91   9]
 [  1 187]]
             precision    recall  f1-score   support

   negative       0.99      0.91      0.95       100
   positive       0.95      0.99      0.97       188

avg / total       0.97      0.97      0.96       288

In [18]:
#Finding the accuracy using cross validation method
scores = cross_val_score(LogisticRegression(), data_final.iloc[:, 0:27], data_final.iloc[:, 27], scoring='accuracy', cv=10)
print(scores)
print(scores.mean())

[0.97938144 1.         0.98958333 1.         1.         0.96842105
 0.98947368 1.         1.         0.83157895]
0.9758438460842829